* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-url: url(./assets/bg.png);
}

body {
    background: url(./assets/background-1.svg) no-repeat top center/cover;
    height: 100vh;

}

#container {
    width: 100%;
    border: 1px saddlebrown solid;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/* profile */

#profile {
    text-align: center;
    padding: 24px;
    color: rgb(255, 255, 255);
}

#profile img {
    border: 2px rgba(234, 234, 234, 0.3) solid;
    border-radius: 80px;
    width: 120px;
}

#profile p {
    font-weight: 600;
    line-height: 24px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

li{
    text-align: center;
    border: 1px khaki solid;
    border-radius: 90px;
    background: rgba(226, 226, 226, 0.041);
}

ul li a{
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: white;
}